/* ========================== Component Name ========================== */
$component: cta-3;
$is: [is=fir-$component];
/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */
$(is){
  &.white {
    color: var(--text);
    background-color: white;
  }
}

.$(component) {
  width: 90%;
  max-width: 840px;
  margin: 0 auto;
  padding: 40px 0;

  h2 {
    margin-bottom: 20px;
  }

  .btn {
    margin-top: 40px;
  }
  /* ========================== Modifiers ========================== */

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &.fir--light {
    .btn {
      background: transparent;
      border: 1px solid var(--teal);
    }
  }
}

/* ========================== Breakpoints ========================== */

/* ================ Query: Small */
$(is).SM .$(component){
}

/* ================ Query: Medium */
$(is).MD .$(component){
  padding: 80px 0;
}

/* ================ Query: Large */
$(is).LG .$(component){
}

/* ================ Query: Xtra Large */
$(is).XL .$(component){
}

/* ================ Query: Xtra Xtra Large */
$(is).XXL .$(component){
}
